{% extends 'base.html.twig' %}

{% block title %}New Fpicount{% endblock %}

{% block body %}
    <h1>Create new Fpicount</h1>

    {{ include('fpicount/_form.html.twig') }}

    <a href="{{ path('fpicount_index') }}">back to list</a>
{% endblock %}
