{% extends 'base.html.twig' %}

{% block title %}New Sectionmail{% endblock %}

{% block body %}
    <h1>Create new Sectionmail</h1>

    {{ include('sectionmail/_form.html.twig') }}

    <a href="{{ path('sectionmail_index') }}">back to list</a>
{% endblock %}
